// colors
$accentColor = lighten(#4a154b, 50%)

$textColor = #2c3e50
$darkTextColor = rgb(41, 45, 62)

$mhxw_date = #70664b

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = $darkTextColor

$bgColor = #f2efe4
$headerBgColor = $bgColor;

$footerBgColor = $darkTextColor
$footerColor = #828282

$newsletterBgColor = #f8f8f8

$postTagBgColor = #ccc5b8;
$postTagColor = darken($postTagBgColor,50%)

// layout
$headerHeight = 80px
 $contentWidth = 840px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

// code
// $lineNumbersWrapperWidth = 3.5rem
// $codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
